@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap");

:root {
  --white: #fff;
  --neutral-10: #797a75;
  --gradient-gradient-indigo: #473fff;
  --black: #000;
}

#treel-chat {
  font-family: "Figtree", sans-serif;
}
